<app-header-logged></app-header-logged>
<app-meni-administrator></app-meni-administrator>
    
    <div class="row sredina">
        <div class="col-sm-12 text-center">
            <h3 id="naslov">Učesnici</h3>
        </div>
    </div>
    
    <div class="row sredina">
        <div class="col-sm-12 text-center">
            <table class="table table-bordered" id="tabela">
                <th>Korisničko ime</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Status</th>
                <th>Detalji</th>
                <tr *ngFor="let user of participants">
                    <td>{{user.username}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.status}}</td>
                    <td><a [routerLink]="['/prikazProfila', user.username]">LINK</a></td>
                </tr>
            </table>
        </div>
    </div>