<app-header-logged></app-header-logged>
<app-meni-ucesnik></app-meni-ucesnik>


<div class="row sredina text-center" *ngIf="activeEvents.length > 0">
    <div class="col-sm-12">
        <hr>
    </div>
    <div class="col-sm-12">
        <h3>Aktuelni događaji</h3>
        <div class="text-center">
            <select class="izbor" [(ngModel)]="selectedRadius" (change)="getCurrentLocation()">
                <option value="5">5 km</option>
                <option value="10">10 km</option>
                <option value="15">15 km</option>
                <option value="20">20 km</option>
                <option value="-1" selected>25+ km</option>
            </select>
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>

<div class="row sredina" *ngIf="activeEvents.length > 0">
    <div *ngFor="let event of activeEvents" class="col-sm-4">
        <div class="event-container">
            <img [routerLink]="['/ucesnikDogadjaj', event.id]"
                src="http://localhost:4000/sports/getSportPicture/?name={{event.sport}}"
                class="rounded-circle stil velicina" title="Prikaži detalje">
            <div class="event-info">
                <span class="orangered">Sport: </span> <span class="slova">{{event.sport}}<br></span>
                <span class="orangered">Mesto: </span> <span class="slova">{{event.location}} <br> </span>
                <span class="orangered">Datum: </span> <span
                    class="slova">{{convertToDate(event.dateTime).toLocaleString(['en-GB'],
                    {year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute:'numeric'})}} </span>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="row sredina text-center" *ngIf="activeEvents.length == 0">
    <div class="col-sm-12">
        <hr>
    </div>
    <div class="col-sm-12">
        <h3>Trenutno nema akuelnih događaja</h3>
        <div class="text-center">
            <select class="izbor" [(ngModel)]="selectedRadius" (change)="getCurrentLocation()">
                <option value="5">5 km</option>
                <option value="10">10 km</option>
                <option value="15">15 km</option>
                <option value="20">20 km</option>
                <option value="-1">25+ km</option>
            </select>
        </div>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>