input[type='text'] {
    width: 60%;
}

.likes {
    width: 80%;
    background-color: #D5EEBB;
    margin: auto;
    color: black;
    border: 3px solid black;
    font-size: medium;
}

.kor1ime {
    text-align: left;
    padding: 10px;
    margin-left: 100px;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.slika {
    width: 70px;
    height: 70px;
    margin: 5px;
    margin-left: 20px;
}

.kor1 {
    border-radius: 25px;
    border: 3px solid lightgray;
    background-color: lightgreen;
    width: 50%;
    padding: 20px;
    margin-left: 10px;
    display: inline-block;
}

.black {
    background-color: black;
    height: 2px;
    width: 100%;
}

.dugmeKom {
    width: 20%;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 5%;
    display: inline-block;
    text-align: center;
    background-color: #7FC8A9;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.dugmeKom:hover {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: #48a77f;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.porukaKom {
    margin-bottom: 10px;
    margin-left: 5px;
}

#desno{
    margin-right: 10px;
}