.velicina {
    width: 300px;
    height: 300px;
    margin-top: 20px;
}

#tabela {
    background-color: white;
    margin-top: 30px;
    border-radius: 30px;
}

#tabela td {
    border: 1px solid #444941;
}

#tabela2 {
    background-color: white;
    color: black;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 30px;
}

#tabela2 td, th, tr {
    border: 1px solid #444941;
}

#tabela2 tr:hover {
    background-color: lightblue;
}

#tabela3 {
    background-color: white;
    color: black;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 30px;
}

#tabela3 td, th, tr {
    border: 1px solid #444941;
}

#tabela3 tr:hover {
    background-color: lightblue;
}

#dug{
    font-weight: bold;
}

#dug:hover{
    background-color: white;
}


a {
    color: #5F7A61;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: orangered;
    font-weight: 500;
}

#btnPretraga {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: #7FC8A9;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
}

#btnPretraga:hover {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: #48a77f;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.orange-bg img{
    width: 20px;
    height: 20px;
}

.green-bg img{
    width: 20px;
    height: 20px;
}