<app-header-logged></app-header-logged>
<app-meni-administrator></app-meni-administrator>

<div class="row sredina">
    <div class="col-sm-12 text-center">
        <img class="rounded-circle velicina" src="http://localhost:4000/users/getUserPicture/?image={{user.picture}}"
            *ngIf="user.picture != ''">
        <img class="rounded-circle velicina" src="../../assets/unknownuser.png" *ngIf="user.picture == ''">
    </div>
</div>

<div class="row sredina">
    <div class="col-sm-8 offset-2 text-center">
        <table class="table table-striped table-bordered" id="tabela">
            <tr>
                <td><b>Ime</b></td>
                <td>{{user.name}}</td>
            </tr>
            <tr>
                <td><b>Prezime</b></td>
                <td>{{user.lastname}}</td>
            </tr>
            <tr>
                <td><b>Korisničko ime</b></td>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <td><b>Tip</b></td>
                <td>{{user.type}}</td>
            </tr>
            <tr>
                <td><b>Telefon</b></td>
                <td>{{user.phone}}</td>
            </tr>
            <tr>
                <td><b>Mejl</b></td>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <td><b>Status</b></td>
                <td>{{user.status}}</td>
            </tr>
        </table>
        <button id="btnPretraga" *ngIf="user.status == 'aktivan'" (click)="deleteUser()" class="btn btn-primary">Ukloni korisnika</button>
    </div>
</div>

<div class="row sredina" *ngIf="events.length > 0 && user.type == 'ucesnik'">
    <div class="col-sm-12">
        <hr>
    </div>
    <div class="col-sm-12 text-center">
        <h3>Prethodna učešća</h3>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>

<div class="row sredina" *ngIf="events.length == 0 && user.type == 'ucesnik'">
    <div class="col-sm-12">
        <hr>
    </div>
    <div class="col-sm-12 text-center">
        <h3>Nema prethodnih učešća</h3>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>

<div class="row sredina" *ngIf="events.length > 0 && user.type == 'ucesnik'">
    <div class="col-sm-12 text-center">
        <table class="table table-bordered" id="tabela2">
            <th>Sport</th>
            <th>Mesto</th>
            <th>Datum</th>
            <th>Cena po učesniku</th>
            <th>Plaćeno</th>
            <th>Detalji</th>
            <tr *ngFor="let event of events">
                <td>{{event.sport}}</td>
                <td>{{event.location}}</td>
                <td>{{convertToDate(event.dateTime).toLocaleString(['en-GB'],
                    {year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute:'numeric'})}}</td>
                <td>{{event.pricePerUser}} RSD</td>
                <td *ngIf="!event.paid.includes(user.username)"
                [ngClass]="{'orange-bg': !event.paid.includes(user.username)}">
                    <img src="../../assets/remove.png">
                </td>
                <td *ngIf="event.paid.includes(user.username)"
                [ngClass]="{'orange-bg': event.paid.includes(user.username)}">
                    <img src="../../assets/accept.png">
                </td>
                <td><a [routerLink]="['/adminDogadjaj', event.id]">LINK</a></td>
            </tr>
            <tr>
                <td colspan="6" id="dug" class="text-center">Ukupan dug: {{totalOwing}} RSD</td>
            </tr>
        </table>
    </div>
</div>

<div class="row sredina" *ngIf="events.length > 0 && user.type == 'organizator'">
    <div class="col-sm-12">
        <hr>
    </div>
    <div class="col-sm-12 text-center">
        <h3>Prethodni događaji</h3>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>

<div class="row sredina" *ngIf="events.length == 0 && user.type == 'organizator'">
    <div class="col-sm-12">
        <hr>
    </div>
    <div class="col-sm-12 text-center">
        <h3>Nema prethodnih događaja</h3>
    </div>
    <div class="col-sm-12">
        <hr>
    </div>
</div>

<div class="row sredina" *ngIf="events.length > 0 && user.type == 'organizator'">
    <div class="col-sm-12 text-center">
        <table class="table table-bordered" id="tabela3">
            <th>Sport</th>
            <th>Mesto</th>
            <th>Datum</th>
            <th>Cena po učesniku</th>
            <th>Svi platili</th>
            <th>Detalji</th>
            <tr *ngFor="let event of events">
                <td>{{event.sport}}</td>
                <td>{{event.location}}</td>
                <td>{{convertToDate(event.dateTime).toLocaleString(['en-GB'],
                    {year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute:'numeric'})}}</td>
                <td>{{event.pricePerUser}} RSD</td>
                <td *ngIf="!(event.participants.length == event.paid.length)"
                [ngClass]="{'orange-bg': !(event.participants.length == event.paid.length)}">
                    <img src="../../assets/remove.png">
                </td>
                <td *ngIf="event.participants.length == event.paid.length"
                [ngClass]="{'orange-bg':event.participants.length == event.paid.length}">
                    <img src="../../assets/accept.png">
                </td>
                <td><a [routerLink]="['/adminDogadjaj', event.id]">LINK</a></td>
            </tr>
        </table>
    </div>
</div>