<div class="row sredina">  
    <div class="col-sm-12 text-center">
        <hr>
    </div>
    <div class="col-sm-12 baner">
        <a href="https://www.flashscore.com/" target=”_blank”>flashscore.com</a>
        <a href="https://sportklub.n1info.rs/" target=”_blank”>sportklub.rs</a>
        <a href="https://www.sportvision.rs/" target=”_blank”>sportvision.rs</a>
    </div>
    <div class="col-sm-12 text-center">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 footer text-center">
        Copyright 2023, Filip Kojić, Odsek za softversko inženjerstvo Elektrotehničkog fakulteta
        Univerziteta u Beogradu
    </div>
</div>